:root
{
--header-background-color:#FFC9D2E9;
--header-foreground-color:#FFFFFFFF;
--header-font-family:Os Default;
--header-font-size:11;
--header-icon-color:#00FFFFFF;
--header-height:60;
--subheader-background-color:#FFF1F3F8;
--subheader-foreground-color:#FFFFFFFF;
--subheader-icon-color:#FF9F0606;
--subheader-font-family:Os Default;
--subheader-font-size:9;
--subheader-height:40;
--body-background-color:#FFF1F3F8;
--body-foreground-color:#FF000000;
--body-font-family:Os Default;
--body-font-size:10;
--body-icon-colors:transparent;
--body-button-background:#FF691516;
--body-button-foreground:#FFFFFFFF;
--footer-background-color:#FFD2D9E9;
--footer-foreground-color:#FFFFFFFF;
--footer-font-family:Os Default;
--footer-height:40;
--footer-font-size:8;
--device-type:smartphone;
}
.tab-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.table-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.table-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.table-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.table-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.tab-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.tab-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.tab-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.shape-subheader-base
{
background-color:var(--subheader-background-color);
height:var(--subheader-height);
--k-line-color:var(--subheader-background-color);
}
.shape-header-base
{
background-color:var(--header-background-color);
height:var(--header-height);
--k-line-color:var(--header-background-color);
}
.shape-footer-base
{
background-color:var(--footer-background-color);
height:var(--footer-height);
--k-line-color:var(--footer-background-color);
}
.shape-body-base
{
background-color:var(--body-background-color);
--k-line-color:var(--body-background-color);
}
.scroll-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
--k-line-color:var(--subheader-foreground-color);
}
.scroll-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
--k-line-color:var(--header-foreground-color);
}
.scroll-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
--k-line-color:var(--footer-background-color);
}
.scroll-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
--k-line-color:var(--body-background-color);
}
.radio-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
--k-line-color:var(--subheader-background-color);
}
.radio-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
--k-line-color:var(--header-background-color);
}
.radio-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
--k-line-color:var(--footer-background-color);
}
.radio-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
--k-line-color:var(--body-background-color);
}
.media-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
--k-line-color:var(--subheader-background-color);
}
.media-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
--k-line-color:var(--header-background-color);
}
.media-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
--k-line-color:var(--footer-background-color);
}
.media-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
--k-line-color:var(--body-background-color);
}
.looper-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
--k-line-color:var(--subheader-background-color);
}
.looper-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-background-color);
--k-line-color:var(--header-background-color);
}
.looper-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
--k-line-color:var(--footer-background-color);
}
.looper-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
--k-line-color:var(--body-background-color);
}
.list-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
--k-line-color:var(--subheader-background-color);
}
.list-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
--k-line-color:var(--header-background-color);
}
.list-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
--k-line-color:var(--footer-background-color);
}
.list-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
--k-line-color:var(--body-background-color);
}
.label-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
--k-line-color:var(--subheader-background-color);
}
.label-header-Strong
{
background-color:#FFF1F3F8;
font-weight:bold;
font-family:Os Default;
font-size:11;
color:#FFFFFFFF;
--k-line-color:#000000;
}
.label-header-Bold
{
}
.label-header-base
{
background-color:var(--header-background-color);
font-weight:bold;
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
--k-line-color:var(--header-background-color);
}
.label-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
--k-line-color:var(--footer-background-color);
}
.label-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.input-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
--k-line-color:var(--subheader-background-color);
}
.input-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
--k-line-color:var(--header-background-color);
}
.input-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
--k-line-color:var(--footer-background-color);
}
.input-body-underline
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
--k-border-type:Customized;
border:1;
border-color:gray;
border-bottom:1;
}
.input-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
--k-line-color:var(--body-background-color);
}
.image-subheader-search_button
{
background-color:#FFC8D2E3;
font-family:Os Default;
font-size:9;
color:#FFFFFFFF;
--k-line-color:#000000;
background-image:search.png;
}
.image-subheader-filters_button
{
background-color:#FFC8D2E3;
font-family:Os Default;
font-size:9;
color:#FFFFFFFF;
--k-line-color:#000000;
background-image:filter.png;
}
.image-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
--k-line-color:var(--subheader-background-color);
}
.image-header-sync_button
{
background-color:#FF536882;
font-family:Os Default;
font-size:11;
color:#FFFFFFFF;
--k-line-color:#000000;
background-image:synchronize.png;
}
.image-header-settings_button
{
background-color:#FF536882;
font-family:Os Default;
font-size:11;
color:#FFFFFFFF;
--k-line-color:#000000;
}
.image-header-menuv_button
{
background-color:#FF536882;
font-family:Os Default;
font-size:11;
color:#FFFFFFFF;
--k-line-color:#000000;
background-image:menu_vertical.png;
}
.image-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
--k-line-color:var(--header-background-color);
}
.image-header-back_button
{
background-color:#FF536882;
font-family:Os Default;
font-size:11;
color:#FFFFFFFF;
--k-line-color:#000000;
background-image:back.png;
}
.image-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
--k-line-color:var(--footer-background-color);
}
.image-body-user
{
background-color:#FFF1F3F8;
font-family:Os Default;
font-size:10;
color:#FF000000;
--k-line-color:#000000;
background-image:user.png;
}
.image-body-password
{
background-color:#FFF1F3F8;
font-family:Os Default;
font-size:10;
color:#FF000000;
--k-line-color:#000000;
background-image:password.png;
}
.image-body-company
{
background-color:#FFF1F3F8;
font-family:Os Default;
font-size:10;
color:#FF000000;
--k-line-color:#000000;
background-image:company.png;
}
.image-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.html-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.html-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.html-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.html-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.form-base
{
background-color:var(--body-background-color);
}
.draw-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.draw-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.draw-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.draw-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.combo-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.combo-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.combo-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.combo-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.check-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.check-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.check-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.check-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.chart-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.chart-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.chart-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.chart-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.button-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.button-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.button-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.button-body-base
{
background-color:var(--body-button-background);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-button-foreground);
}
