:root
{
--header-background-color:#FF046166;
--header-foreground-color:#FFFFFFFF;
--header-font-family:OS Default;
--header-font-size:12;
--header-icon-color:#FF000000;
--header-height:39;
--subheader-background-color:#FF003D3D;
--subheader-foreground-color:#FFFFFFFF;
--subheader-icon-color:#FF000000;
--subheader-font-family:Os Default;
--subheader-font-size:9;
--subheader-height:45;
--body-background-color:#FFF2F2F2;
--body-foreground-color:#FF000000;
--body-font-family:Arial;
--body-font-size:10;
--body-icon-colors:black;
--body-button-background:#FF000000;
--body-button-foreground:#FFFFFFFF;
--footer-background-color:#FFECECEC;
--footer-foreground-color:#FF333333;
--footer-font-family:Os Default;
--footer-height:30;
--footer-font-size:9;
--device-type:smartphone;
}
.tab-subheader-base
{
--k-font-size-2:null;
--k-left-2:null;
--k-top-2:null;
--k-right-2:null;
--k-bottom-2:null;
--k-width-2:null;
--k-height-2:null;
--k-border-type:No;
--k-selected-row-color:var(--subheader-background-color);
--k-selected-text-color:var(--subheader-background-color);
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:-1;
opacity:100;
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
font-style:null;
font-weight:null;
color:var(--subheader-foreground-color);
}
.table-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.table-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.table-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.table-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.tab-header-base
{
--k-font-size-2:null;
--k-left-2:null;
--k-top-2:null;
--k-right-2:null;
--k-bottom-2:null;
--k-width-2:null;
--k-height-2:null;
--k-border-type:No;
--k-selected-row-color:var(--header-background-color);
--k-selected-text-color:var(--header-background-color);
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:-1;
opacity:100;
font-family:var(--header-font-family);
font-size:var(--header-font-size);
font-style:null;
font-weight:null;
color:var(--header-foreground-color);
}
.tab-footer-base
{
--k-font-size-2:null;
--k-left-2:null;
--k-top-2:null;
--k-right-2:null;
--k-bottom-2:null;
--k-width-2:null;
--k-height-2:null;
--k-border-type:No;
--k-selected-row-color:var(--footer-background-color);
--k-selected-text-color:var(--footer-background-color);
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:-1;
opacity:100;
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
font-style:null;
font-weight:null;
color:var(--footer-foreground-color);
}
.tab-body-base
{
--k-font-size-2:null;
--k-left-2:null;
--k-top-2:null;
--k-right-2:null;
--k-bottom-2:null;
--k-width-2:null;
--k-height-2:null;
--k-border-type:No;
--k-selected-row-color:var(--body-background-color);
--k-selected-text-color:var(--body-background-color);
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:-1;
opacity:100;
font-family:var(--body-font-family);
font-size:var(--body-font-size);
font-style:null;
font-weight:null;
color:var(--body-foreground-color);
}
.shape-subheader-base
{
--k-type:rectangle;
--k-top-2:null;
--k-rounded-corners:null;
--k-right-2:null;
--k-line-color:null;
--k-left-2:null;
--k-height-2:null;
--k-bottom-2:null;
--k-border-type:Yes;
left:0;
top:0;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--subheader-background-color);
opacity:100;
border:0;
border-left:Yes;
border-top:Yes;
border-right:Yes;
border-bottom:Yes;
border-radius:null;
}
.shape-header-base
{
--k-type:rectangle;
--k-top-2:null;
--k-rounded-corners:null;
--k-right-2:null;
--k-line-color:null;
--k-left-2:null;
--k-height-2:null;
--k-bottom-2:null;
--k-border-type:Yes;
left:0;
top:0;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--header-background-color);
opacity:100;
border:0;
border-left:Yes;
border-top:Yes;
border-right:Yes;
border-bottom:Yes;
border-radius:null;
}
.shape-footer-base
{
--k-type:rectangle;
--k-top-2:null;
--k-rounded-corners:null;
--k-right-2:null;
--k-line-color:null;
--k-left-2:null;
--k-height-2:null;
--k-bottom-2:null;
--k-border-type:Yes;
left:0;
top:0;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--footer-background-color);
opacity:100;
border:0;
border-left:Yes;
border-top:Yes;
border-right:Yes;
border-bottom:Yes;
border-radius:null;
}
.shape-body-base
{
--k-type:rectangle;
--k-top-2:null;
--k-rounded-corners:null;
--k-right-2:null;
--k-line-color:null;
--k-left-2:null;
--k-height-2:null;
--k-bottom-2:null;
--k-border-type:Yes;
left:0;
top:0;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background-color);
opacity:100;
border:0;
border-left:Yes;
border-top:Yes;
border-right:Yes;
border-bottom:Yes;
border-radius:null;
}
.scroll-subheader-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
--k-line-color:var(--subheader-foreground-color);
}
.scroll-header-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
--k-line-color:var(--header-foreground-color);
}
.scroll-footer-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
--k-line-color:var(--footer-background-color);
}
.scroll-body-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
--k-line-color:var(--body-background-color);
}
.radio-subheader-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
--k-line-color:var(--subheader-background-color);
}
.radio-header-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
--k-line-color:var(--header-background-color);
}
.radio-footer-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
--k-line-color:var(--footer-background-color);
}
.radio-body-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
--k-line-color:var(--body-background-color);
}
.media-subheader-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
--k-line-color:var(--subheader-background-color);
}
.media-header-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
--k-line-color:var(--header-background-color);
}
.media-footer-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
--k-line-color:var(--footer-background-color);
}
.media-body-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
--k-line-color:var(--body-background-color);
}
.looper-subheader-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
--k-line-color:var(--subheader-background-color);
}
.looper-header-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-background-color);
--k-line-color:var(--header-background-color);
}
.looper-footer-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
--k-line-color:var(--footer-background-color);
}
.looper-body-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
--k-line-color:var(--body-background-color);
}
.list-subheader-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
--k-line-color:var(--subheader-background-color);
}
.list-header-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
--k-line-color:var(--header-background-color);
}
.list-footer-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
--k-line-color:var(--footer-background-color);
}
.list-body-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
--k-line-color:var(--body-background-color);
}
.label-subheader-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
--k-line-color:var(--subheader-background-color);
}
.label-header-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--header-background-color);
font-weight:bold;
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
--k-line-color:var(--header-background-color);
}
.label-footer-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
--k-line-color:var(--footer-background-color);
}
.label-Caption
{
word-wrap:0;
text-overflow:0;
background-color:#333333;
opacity:100;
font-family:Arial;
font-size:9;
--k-font-size-2:4;
color:#000000;
font-weight:bold;
text-align:Center Left;
--k-border-type:None;
border:1;
--k-rounded-corners:No;
border-color:#000000;
border-radius:4;
border-left:0;
border-top:0;
border-right:0;
border-bottom:0;
width:60;
height:13;
--k-width-2:105;
--k-height-2:7;
}
.label-body-caption
{
word-wrap:0;
text-overflow:0;
background-color:-1;
opacity:100;
font-family:Arial;
font-size:9;
--k-font-size-2:4;
color:#333333;
font-weight:bold;
text-align:Center Left;
--k-border-type:None;
border:1;
--k-rounded-corners:No;
border-color:#000000;
border-radius:4;
border-left:0;
border-top:0;
border-right:0;
border-bottom:0;
width:60;
height:13;
--k-width-2:105;
--k-height-2:7;
}
.label-body-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.input-subheader-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
--k-line-color:var(--subheader-background-color);
}
.input-header-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:#FFFFFF;
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:#000000;
--k-line-color:#AEAEAE;
}
.input-footer-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
--k-line-color:var(--footer-background-color);
}
.input-body-Underlined
{
--k-hint-text-color:-2;
--k-disabled-text-color:-2;
background-color:-1;
opacity:100;
font-family:Arial;
font-size:10;
--k-font-size-2:5;
color:#000000;
font-weight:normal;
font-style:normal;
text-decoration:normal;
text-align:Top Left;
--k-border-type:Customized;
border:1;
--k-rounded-corners:No;
border-color:#999999;
border-radius:4;
border-left:0;
border-top:0;
border-right:0;
border-bottom:1;
width:211;
height:21;
--k-width-2:369;
--k-height-2:11;
}
.input-body-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
--k-line-color:var(--body-background-color);
}
.image-subheader-search_button
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
--k-line-color:#000000;
background-image:search.png;
}
.image-PageSubHeaderIcon
{
background-image:ImagePageHeaderIconMainimage-High.png;
--k-background-image2:null;
--k-image-x:4;
--k-image-y:4;
--k-image-width:14;
--k-image-height:14;
--k-text-x:0;
--k-text-y:0;
--k-text-width:20;
--k-text-height:20;
width:20;
height:20;
--k-width-2:35;
--k-height-2:10;
--k-button-effect:None;
word-wrap:0;
text-overflow:0;
background-size:Proportionally Streched;
--k-advanced:1;
--k-transparency:-1;
--k-transparent-color:000000000;
background-color:-1;
opacity:100;
font-family:OS Default;
font-size:12;
--k-font-size-2:6;
color:#000000;
font-weight:normal;
font-style:normal;
text-decoration:normal;
text-align:Top Left;
--k-border-type:None;
border:1;
--k-rounded-corners:No;
border-color:#000000;
border-radius:4;
border-left:0;
border-top:0;
border-right:0;
border-bottom:0;
}
.image-PageHeaderIcon
{
background-image:chevron_left.svg-High.png;
--k-background-image2:null;
--k-image-x:4;
--k-image-y:4;
--k-image-width:16;
--k-image-height:16;
--k-text-x:0;
--k-text-y:0;
--k-text-width:20;
--k-text-height:20;
width:20;
height:20;
--k-width-2:20;
--k-height-2:20;
--k-button-effect:None;
word-wrap:0;
text-overflow:0;
background-size:Proportionally Streched;
--k-advanced:1;
--k-transparency:-1;
--k-transparent-color:000000000;
background-color:#000000;
opacity:100;
font-family:OS Default;
font-size:12;
--k-font-size-2:6;
color:#000000;
font-weight:normal;
font-style:normal;
text-decoration:normal;
text-align:Top Left;
--k-border-type:None;
border:1;
--k-rounded-corners:No;
border-color:#000000;
border-radius:4;
border-left:0;
border-top:0;
border-right:0;
border-bottom:0;
}
.image-header-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
--k-line-color:var(--header-background-color);
}
.image-footer-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
--k-line-color:var(--footer-background-color);
}
.image-body-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.html-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.html-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.html-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.html-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.form-base
{
background-color:var(--body-background-color);
}
.draw-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.draw-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.draw-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.draw-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.combo-subheader-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
--k-left-2:null;
--k-top-2:null;
--k-right-2:null;
--k-bottom-2:null;
--k-width-2:null;
--k-height-2:null;
background-color:var(--subheader-background-colr);
opacity:100;
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
--k-font-size-2:var(--subheader-font-size);
font-style:null;
font-weight:null;
color:var(--subheader-foreground-color);
--k-row-height:null;
--k-advanced:null;
--k-selected-text-color:null;
--k-selected-row-color:null;
--k-odd-row-color:null;
--k-even-row-color:null;
--k-border-type:null;
border:0;
border-left:null;
border-top:null;
border-right:null;
border-bottom:null;
border-color:null;
border-radius:null;
--k-rounded-corners:null;
--k-advanced-style:null;
--k-image-x:null;
--k-image-x-2:null;
--k-image-y:null;
--k-image-y-2:null;
--k-image-width:null;
--k-image-width-2:null;
--k-image-height:null;
--k-image-height-2:null;
--k-text-x:null;
--k-text-x-2:null;
--k-text-y:null;
--k-text-y-2:null;
--k-text-width:null;
--k-text-width-2:null;
--k-text-height:null;
--k-text-height-2:null;
}
.combo-header-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
--k-left-2:null;
--k-top-2:null;
--k-right-2:null;
--k-bottom-2:null;
--k-width-2:null;
--k-height-2:null;
background-color:var(--header-background-colr);
opacity:100;
font-family:var(--header-font-family);
font-size:var(--header-font-size);
--k-font-size-2:var(--header-font-size);
font-style:null;
font-weight:null;
color:var(--header-foreground-color);
--k-row-height:null;
--k-advanced:null;
--k-selected-text-color:null;
--k-selected-row-color:null;
--k-odd-row-color:null;
--k-even-row-color:null;
--k-border-type:null;
border:0;
border-left:null;
border-top:null;
border-right:null;
border-bottom:null;
border-color:null;
border-radius:null;
--k-rounded-corners:null;
--k-advanced-style:null;
--k-image-x:null;
--k-image-x-2:null;
--k-image-y:null;
--k-image-y-2:null;
--k-image-width:null;
--k-image-width-2:null;
--k-image-height:null;
--k-image-height-2:null;
--k-text-x:null;
--k-text-x-2:null;
--k-text-y:null;
--k-text-y-2:null;
--k-text-width:null;
--k-text-width-2:null;
--k-text-height:null;
--k-text-height-2:null;
}
.combo-footer-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
--k-left-2:null;
--k-top-2:null;
--k-right-2:null;
--k-bottom-2:null;
--k-width-2:null;
--k-height-2:null;
background-color:var(--footer-background-colr);
opacity:100;
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
--k-font-size-2:var(--footer-font-size);
font-style:null;
font-weight:null;
color:var(--footer-foreground-color);
--k-row-height:null;
--k-advanced:null;
--k-selected-text-color:null;
--k-selected-row-color:null;
--k-odd-row-color:null;
--k-even-row-color:null;
--k-border-type:null;
border:0;
border-left:null;
border-top:null;
border-right:null;
border-bottom:null;
border-color:null;
border-radius:null;
--k-rounded-corners:null;
--k-advanced-style:null;
--k-image-x:null;
--k-image-x-2:null;
--k-image-y:null;
--k-image-y-2:null;
--k-image-width:null;
--k-image-width-2:null;
--k-image-height:null;
--k-image-height-2:null;
--k-text-x:null;
--k-text-x-2:null;
--k-text-y:null;
--k-text-y-2:null;
--k-text-width:null;
--k-text-width-2:null;
--k-text-height:null;
--k-text-height-2:null;
}
.combo-body-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
--k-left-2:null;
--k-top-2:null;
--k-right-2:null;
--k-bottom-2:null;
--k-width-2:null;
--k-height-2:null;
background-color:var(--body-background-colr);
opacity:100;
font-family:var(--body-font-family);
font-size:var(--body-font-size);
--k-font-size-2:var(--body-font-size);
font-style:null;
font-weight:null;
color:var(--body-foreground-color);
--k-row-height:null;
--k-advanced:null;
--k-selected-text-color:null;
--k-selected-row-color:null;
--k-odd-row-color:null;
--k-even-row-color:null;
--k-border-type:null;
border:0;
border-left:null;
border-top:null;
border-right:null;
border-bottom:null;
border-color:null;
border-radius:null;
--k-rounded-corners:null;
--k-advanced-style:null;
--k-image-x:null;
--k-image-x-2:null;
--k-image-y:null;
--k-image-y-2:null;
--k-image-width:null;
--k-image-width-2:null;
--k-image-height:null;
--k-image-height-2:null;
--k-text-x:null;
--k-text-x-2:null;
--k-text-y:null;
--k-text-y-2:null;
--k-text-width:null;
--k-text-width-2:null;
--k-text-height:null;
--k-text-height-2:null;
}
.check-subheader-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.check-footer-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.check-body-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.chart-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.chart-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.chart-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.chart-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.button-subheader-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.button-header-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.button-footer-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.button-body-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-button-background);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-button-foreground);
}
