:root
{
--header-background-color:#FFE91E63;
--header-foreground-color:#FF333333;
--header-font-family:OS Default;
--header-font-size:14;
--header-icon-color:#FF000000;
--header-height:100;
--subheader-background-color:#FF253238;
--subheader-foreground-color:#FFFFFFFF;
--subheader-icon-color:#FF000000;
--subheader-font-family:Os Default;
--subheader-font-size:9;
--subheader-height:40;
--body-background-color:#FFFCFCFC;
--body-foreground-color:#FF000000;
--body-font-family:Arial;
--body-font-size:10;
--body-icon-colors:black;
--body-button-background:#FFFF6633;
--body-button-foreground:#FFFFFFFF;
--footer-background-color:#FFD7D7D7;
--footer-foreground-color:#FF333333;
--footer-font-family:Os Default;
--footer-height:40;
--footer-font-size:9;
--device-type:smartphone;
}
.tab-subheader-base
{
k-font-size-2:;
k-left-2:;
k-top-2:;
k-right-2:;
k-bottom-2:;
k-width-2:;
k-height-2:;
k-border-type:No;
k-selected-row-color:var(--subheader-background-color);
k-selected-text-color:var(--subheader-background-color);
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:-1;
opacity:100;
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
font-style:;
font-weight:;
color:var(--subheader-foreground-color);
}
.table-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.table-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.table-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.table-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.tab-header-base
{
k-font-size-2:;
k-left-2:;
k-top-2:;
k-right-2:;
k-bottom-2:;
k-width-2:;
k-height-2:;
k-border-type:No;
k-selected-row-color:var(--header-background-color);
k-selected-text-color:var(--header-background-color);
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:-1;
opacity:100;
font-family:var(--header-font-family);
font-size:var(--header-font-size);
font-style:;
font-weight:;
color:var(--header-foreground-color);
}
.tab-footer-base
{
k-font-size-2:;
k-left-2:;
k-top-2:;
k-right-2:;
k-bottom-2:;
k-width-2:;
k-height-2:;
k-border-type:No;
k-selected-row-color:var(--footer-background-color);
k-selected-text-color:var(--footer-background-color);
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:-1;
opacity:100;
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
font-style:;
font-weight:;
color:var(--footer-foreground-color);
}
.tab-body-base
{
k-font-size-2:;
k-left-2:;
k-top-2:;
k-right-2:;
k-bottom-2:;
k-width-2:;
k-height-2:;
k-border-type:No;
k-selected-row-color:var(--body-background-color);
k-selected-text-color:var(--body-background-color);
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:-1;
opacity:100;
font-family:var(--body-font-family);
font-size:var(--body-font-size);
font-style:;
font-weight:;
color:var(--body-foreground-color);
}
.shape-subheader-base
{
k-type:rectangle;
k-top-2:;
k-rounded-corners:;
k-right-2:;
k-line-color:;
k-left-2:;
k-height-2:;
k-bottom-2:;
k-border-type:Yes;
left:0;
top:0;
right:;
bottom:;
width:;
height:;
background-color:var(--subheader-background-color);
opacity:100;
border:0;
border-left:Yes;
border-top:Yes;
border-right:Yes;
border-bottom:Yes;
border-radius:;
}
.shape-header-base
{
k-type:rectangle;
k-top-2:;
k-rounded-corners:;
k-right-2:;
k-line-color:;
k-left-2:;
k-height-2:;
k-bottom-2:;
k-border-type:Yes;
left:0;
top:0;
right:;
bottom:;
width:;
height:;
background-color:var(--header-background-color);
opacity:100;
border:0;
border-left:Yes;
border-top:Yes;
border-right:Yes;
border-bottom:Yes;
border-radius:;
}
.shape-footer-base
{
k-type:rectangle;
k-top-2:;
k-rounded-corners:;
k-right-2:;
k-line-color:;
k-left-2:;
k-height-2:;
k-bottom-2:;
k-border-type:Yes;
left:0;
top:0;
right:;
bottom:;
width:;
height:;
background-color:var(--footer-background-color);
opacity:100;
border:0;
border-left:Yes;
border-top:Yes;
border-right:Yes;
border-bottom:Yes;
border-radius:;
}
.shape-body-panel_header
{
k-type:rectangle;
left:0;
top:0;
background-color:#1ABC9C;
opacity:100;
border:0;
border-left:No;
border-top:No;
border-right:No;
border-bottom:No;
}
.shape-body-panel
{
k-type:rectangle;
k-line-color:#FFCCCCCC;
k-border-type:Yes;
background-color:white;
opacity:100;
border:1;
border-left:Yes;
border-top:Yes;
border-right:Yes;
border-bottom:Yes;
}
.shape-body-base
{
k-type:rectangle;
k-top-2:;
k-rounded-corners:;
k-right-2:;
k-line-color:;
k-left-2:;
k-height-2:;
k-bottom-2:;
k-border-type:Yes;
left:0;
top:0;
right:;
bottom:;
width:;
height:;
background-color:var(--body-background-color);
opacity:100;
border:0;
border-left:Yes;
border-top:Yes;
border-right:Yes;
border-bottom:Yes;
border-radius:;
}
.scroll-subheader-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
k-line-color:var(--subheader-foreground-color);
}
.scroll-header-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
k-line-color:var(--header-foreground-color);
}
.scroll-footer-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
k-line-color:var(--footer-background-color);
}
.scroll-body-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
k-line-color:var(--body-background-color);
}
.radio-subheader-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
k-line-color:var(--subheader-background-color);
}
.radio-header-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
k-line-color:var(--header-background-color);
}
.radio-footer-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
k-line-color:var(--footer-background-color);
}
.radio-body-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
k-line-color:var(--body-background-color);
}
.media-subheader-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
k-line-color:var(--subheader-background-color);
}
.media-header-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
k-line-color:var(--header-background-color);
}
.media-footer-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
k-line-color:var(--footer-background-color);
}
.media-body-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
k-line-color:var(--body-background-color);
}
.looper-subheader-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
k-line-color:var(--subheader-background-color);
}
.looper-header-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-background-color);
k-line-color:var(--header-background-color);
}
.looper-footer-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
k-line-color:var(--footer-background-color);
}
.looper-body-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
k-line-color:var(--body-background-color);
}
.list-subheader-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
k-line-color:var(--subheader-background-color);
}
.list-header-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
k-line-color:var(--header-background-color);
}
.list-footer-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
k-line-color:var(--footer-background-color);
}
.list-body-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
k-line-color:var(--body-background-color);
}
.label-subheader-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
k-line-color:var(--subheader-background-color);
}
.label-header-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--header-background-color);
font-weight:bold;
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
k-line-color:var(--header-background-color);
}
.label-footer-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
k-line-color:var(--footer-background-color);
}
.label-body-caption
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:#686769;
font-weight:bold;
}
.label-body-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.input-subheader-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
k-line-color:var(--subheader-background-color);
}
.input-header-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:#FFFFFF;
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:#000000;
k-line-color:#AEAEAE;
}
.input-footer-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
k-line-color:var(--footer-background-color);
}
.input-body-underlined
{
k-line-color:#686769;
k-border-type:Customized;
k-rounded-corners:No;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
font-weight:normal;
font-style:normal;
text-decoration:normal;
border:1;
border-color:#EFEFEF;
border-radius:0;
border-left:0;
border-top:0;
border-right:0;
border-bottom:1;
}
.input-body-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
k-line-color:var(--body-background-color);
}
.image-subheader-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:transparent;
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.image-header-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:transparent;
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
k-line-color:var(--header-background-color);
}
.image-header-back_button
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:#FF3333;
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
background-image:back.png;
}
.image-footer-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
k-line-color:var(--footer-background-color);
}
.image-body-user_button
{
background-color:transparent;
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
background-image:user.png;
}
.image-body-search_button
{
background-color:transparent;
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
background-image:search.png;
}
.image-body-clock_button
{
background-color:transparent
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
background-image:clock.png;
}
.image-body-calendar_button
{
background-color:transparent;
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
background-image:calendar.png;
}
.image-body-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:transparent;
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.html-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.html-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.html-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.html-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.form-base
{
background-color:var(--body-background-color);
}
.draw-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.draw-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.draw-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.draw-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.combo-subheader-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
k-left-2:;
k-top-2:;
k-right-2:;
k-bottom-2:;
k-width-2:;
k-height-2:;
background-color:var(--subheader-background-colr);
opacity:100;
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
k-font-size-2:var(--subheader-font-size);
font-style:;
font-weight:;
color:var(--subheader-foreground-color);
k-row-height:;
k-advanced:;
k-selected-text-color:;
k-selected-row-color:;
k-odd-row-color:;
k-even-row-color:;
k-border-type:;
border:0;
border-left:;
border-top:;
border-right:;
border-bottom:;
border-color:;
border-radius:;
k-rounded-corners:;
k-advanced-style:;
k-image-x:;
k-image-x-2:;
k-image-y:;
k-image-y-2:;
k-image-width:;
k-image-width-2:;
k-image-height:;
k-image-height-2:;
k-text-x:;
k-text-x-2:;
k-text-y:;
k-text-y-2:;
k-text-width:;
k-text-width-2:;
k-text-height:;
k-text-height-2:;
}
.combo-header-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
k-left-2:;
k-top-2:;
k-right-2:;
k-bottom-2:;
k-width-2:;
k-height-2:;
background-color:var(--header-background-colr);
opacity:100;
font-family:var(--header-font-family);
font-size:var(--header-font-size);
k-font-size-2:var(--header-font-size);
font-style:;
font-weight:;
color:var(--header-foreground-color);
k-row-height:;
k-advanced:;
k-selected-text-color:;
k-selected-row-color:;
k-odd-row-color:;
k-even-row-color:;
k-border-type:;
border:0;
border-left:;
border-top:;
border-right:;
border-bottom:;
border-color:;
border-radius:;
k-rounded-corners:;
k-advanced-style:;
k-image-x:;
k-image-x-2:;
k-image-y:;
k-image-y-2:;
k-image-width:;
k-image-width-2:;
k-image-height:;
k-image-height-2:;
k-text-x:;
k-text-x-2:;
k-text-y:;
k-text-y-2:;
k-text-width:;
k-text-width-2:;
k-text-height:;
k-text-height-2:;
}
.combo-footer-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
k-left-2:;
k-top-2:;
k-right-2:;
k-bottom-2:;
k-width-2:;
k-height-2:;
background-color:var(--footer-background-colr);
opacity:100;
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
k-font-size-2:var(--footer-font-size);
font-style:;
font-weight:;
color:var(--footer-foreground-color);
k-row-height:;
k-advanced:;
k-selected-text-color:;
k-selected-row-color:;
k-odd-row-color:;
k-even-row-color:;
k-border-type:;
border:0;
border-left:;
border-top:;
border-right:;
border-bottom:;
border-color:;
border-radius:;
k-rounded-corners:;
k-advanced-style:;
k-image-x:;
k-image-x-2:;
k-image-y:;
k-image-y-2:;
k-image-width:;
k-image-width-2:;
k-image-height:;
k-image-height-2:;
k-text-x:;
k-text-x-2:;
k-text-y:;
k-text-y-2:;
k-text-width:;
k-text-width-2:;
k-text-height:;
k-text-height-2:;
}
.combo-body-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
k-left-2:;
k-top-2:;
k-right-2:;
k-bottom-2:;
k-width-2:;
k-height-2:;
background-color:var(--body-background-colr);
opacity:100;
font-family:var(--body-font-family);
font-size:var(--body-font-size);
k-font-size-2:var(--body-font-size);
font-style:;
font-weight:;
color:var(--body-foreground-color);
k-row-height:;
k-advanced:;
k-selected-text-color:;
k-selected-row-color:;
k-odd-row-color:;
k-even-row-color:;
k-border-type:;
border:0;
border-left:;
border-top:;
border-right:;
border-bottom:;
border-color:;
border-radius:;
k-rounded-corners:;
k-advanced-style:;
k-image-x:;
k-image-x-2:;
k-image-y:;
k-image-y-2:;
k-image-width:;
k-image-width-2:;
k-image-height:;
k-image-height-2:;
k-text-x:;
k-text-x-2:;
k-text-y:;
k-text-y-2:;
k-text-width:;
k-text-width-2:;
k-text-height:;
k-text-height-2:;
}
.check-subheader-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.check-footer-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.check-body-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.chart-subheader-base
{
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.chart-header-base
{
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.chart-footer-base
{
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.chart-body-base
{
background-color:var(--body-background-color);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-foreground-color);
}
.button-subheader-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--subheader-background-color);
font-family:var(--subheader-font-family);
font-size:var(--subheader-font-size);
color:var(--subheader-foreground-color);
}
.button-header-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--header-background-color);
font-family:var(--header-font-family);
font-size:var(--header-font-size);
color:var(--header-foreground-color);
}
.button-footer-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--footer-background-color);
font-family:var(--footer-font-family);
font-size:var(--footer-font-size);
color:var(--footer-foreground-color);
}
.button-body-base
{
left:;
top:;
right:;
bottom:;
width:;
height:;
background-color:var(--body-button-background);
font-family:var(--body-font-family);
font-size:var(--body-font-size);
color:var(--body-button-foreground);
}
